//META{"name":"ClearVision_Emerald","description":"A peaceful, green theme with customizable colors & background! Based on Discord Reborn by @Omniscient &DarkMatter by @Hammock. Server: https://discord.me/clearvision","author":"Zerthox","version":"5"}*//{}
/* "ClearVision - Emerald v5" by @Zerthox */
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */

@import url(https://github.com/spl1ce/discordthemetest/blob/master/ClearVision_Emerald.theme%20-%20Copy.css);
